.screen-share-button {
  font-size: 30px;
  // color: #fff !important;
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px !important;
  height: 40px !important;
  &:focus{
    outline: none !important;
  }
  // &.started-share{
  //   color: #00cc64;
  // }
  > *{
    font-size: 28px !important;
  }
}