.Joinpagelogo{
    width: 40%;
}

.css-1exqwzz-MuiSnackbarContent-message {
    padding: 0 !important;
  }
  #JoinMeetingLink .css-1eqdgzv-MuiPaper-root-MuiSnackbarContent-root {
    padding: 0px 16px !important;
    color: #919499;
    background-color: #fff;
  }
  .OTPField{
    width: 2em !important;
    margin-bottom: 20px;
  }

  .lebalOTP {
    width: 50%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 30px; 
 } 
 
 .lebalOTP span { 
     background:#fff; 
     padding:0 10px; 
     font-size: 20px;
     
 }